.header-bg-custom{
	background-size:  100%;
	background-image: url('/assets/pages/img/background/43_1.jpg');
	background-position-x: 0;
	background-position-y: 0;
	background-repeat: no-repeat;
	background-position: top;
	display: block;
	height: 75vh;
	left: 0;
	position: relative;
	z-index: 0;
}

.custom-logo{
	padding-top: 10px;
}
.custom-font{
	color: #ffffff;
}

.header-content{
	height: 40vh;
	position: absolute;
	width: 100%;
	left: 0%;
	margin-top: 100px;
	background-color: rgba(8, 8, 8, 0.4);
	top: 26%;
	text-align: center;
}

.header-content-btn{
	padding: 30px;
	left: 50%

}

.header-content-big{
	font-size: 3.5em;
	padding: 30px;
	color: #ffffff;
	font-weight: bold;
}

.header-content-mid{
	font-size: 1.5em;
	padding: 20px;
	color: #ffffff;
}

.header-content-small{
	font-size: 1.0em;
	padding: 20px;
	color: #ffffff;
}